<?php 

 return array( "Resque" => array (

                "setting" => array(
                    'REDIS_BACKEND'     => '127.0.0.1:6379',    // Set Redis Backend Info
                    'REDIS_BACKEND_DB'  => '3',                 // Use Redis DB 0
                    'COUNT'             => '5',                 // Run 1 worker
                    'INTERVAL'          => '1',                 // Run every 5 seconds
                    'QUEUE'             => '*',                 // Look in all queues
                    'PREFIX'            => 'healyoo',              // Prefix queues with test
                ), 
    )
);

?>